body.dark {
  background: #111;
  color: #eee;
}
body.light {
  background: #f9f9f9;
  color: #111;
}
body {
  font-family: monospace;
  text-align: center;
  margin: 40px auto;
  transition: all 0.3s ease;
}
input, select, button {
  padding: 10px;
  margin-top: 10px;
}
.settings {
  margin-bottom: 20px;
}
#chat-box {
  margin-top: 20px;
  text-align: left;
  background: #222;
  padding: 20px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}
body.light #chat-box {
  background: #ddd;
}
